@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body
{
    margin:0;
    padding:0;
    font-family:tahoma;
    background:url(../images/ballon2.jpg) no-repeat scroll ;
    background-size: cover;
}
.clear
{
    clear:both;
}
.login-box
{
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    transform: translate(-50%,-50%);
    color:#EBD5DB;
}
.login-box h1
{
    float:left;
    font-size:40px;
    border-bottom:6px solid #05CE3B;
    margin-bottom:50px;
    padding: 13px 0;
    text-transform:capitalize;
}
.textbox
{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding:8px 0;
    margin:8px 0;
    border-bottom:1px solid #05CE3B;
    
}
.textbox i
{
    width: 28px;
    float: left;
    text-align:center;
}
.textbox input
{
    border: none;
    outline: none;
    background: none;
    color:white;
    font-size:20px;
    width:80%; 
    margin:0 10px;
    float: left;
}
.btn
{
    width:100%;
    background: #0078DA;
    border: 2px solid #05CE3B;
    color:#fff;
    padding: 5px;
    font-size:19px;
    cursor:pointer;
    
